<div class="ui dimmer inverted modals page transition visible active">
   <div class="ui standard test modal transition visible active full-width">
      <div class="header">
         $header
      </div>
      <div class="inner-modal-content"></div>


      <div class="actions">
         <div ws-click="{{ $cancel() }}" class="ui black deny button">
            Cancel
         </div>
         <div ws-click="{{ $okay() }}" class="ui positive right labeled icon button">
            Okay
            <i class="checkmark icon"></i>
         </div>
      </div>
   </div>
</div>
