<div class="ui dimmer inverted modals page transition visible active" style="display: block !important;">
   <div class="ui standard test modal transition visible active scrolling" style="display: block !important; top: 204px;">
      <div class="header">
         $header
      </div>
      <div class="inner-modal-content" style="padding:15px;"></div>


      <div class="actions">
         <div ws-click="{{ $no() }}" class="ui black deny button">
            No
         </div>
         <div ws-click="{{ $yes() }}" class="ui positive right labeled icon button">
            Yes
            <i class="checkmark icon"></i>
         </div>
      </div>
   </div>
</div>
